@model PsihoKorak_Platforma.ViewModels.ListMDViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <header class="header-container">
        <div class="header-content">
            <h1 class="display-4">@Accessor.HttpContext.Session.GetString("FirstName") @Accessor.HttpContext.Session.GetString("LastName")</h1>
            <button type="button" class="logout" onclick="location.href='@Url.Action("Login", "Psychologist")'">Log out</button>
        </div>
    </header>

    <div>
        <form method="post" action="@Url.Action("FilterSessionsByType", "Psychologist")">
            <label for="searchSessionType">Search by Session Type:</label>
            <input type="text" name="SessionType">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="table-container">
        <button type="button" onclick="location.href='@Url.Action("Create", "Psychologist")'">Create new session</button>
        <table>
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Date and time
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        Session type
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var session in Model.Md)
                {
                    <tr>
                        <td>@session.SessionId</td>
                        <td>@session.DateTime</td>
                        <td>@session.Duration</td>
                        <td>@session.SessionType</td>
                        <td>
                            <button>Detail</button>
                            <form action="@Url.Action("Update", "Psychologist")" method="post">
                                <input type="hidden" name="SessionId" value="@session.SessionId" />
                                <button type="submit">Update</button>
                            </form>

                            <form action="@Url.Action("DeleteSession", "Psychologist")" method="post">
                                <input type="hidden" name="SessionId" value="@session.SessionId"/>
                                <button type="submit" >Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>